<meta http-equiv="Content-Security-Policy" content="default-src 'self' https: ; script-src 'self' 'nonce-93d398468cd44d7ba092d404b5a2bac0'  requirejs.org www.google-analytics.com www.googletagmanager.com https:; style-src 'self' 'unsafe-inline' https:; img-src 'self' * https:; media-src 'self';" />
<meta http-equiv="Referrer-Policy" content="strict-origin" />
<meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
<meta http-equiv="X-XSS-Protection" content="1; mode=block" />
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="Feature-Policy" content="accelerometer 'none'; camera 'none'; geolocation 'self'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />
<meta http-equiv="X-Permitted-Cross-Domain-Policies" content="none" />
