<div class="sidebar">
  <div class="row">

    <div class="column small-10 large-12">
      <h1 class="sidebar__logo logo"><a href="{{ site.baseurl }}/blog">{{ site.title }}</a></h1>
      <div class="sidebar__description font-small">{{ site.description }}</div>
    </div>

    <label class="off-canvas-toggle"><span class="fas fa-bars""></span></label>

    <div class="off-canvas-content">

      <div class="column small-12 large-12">
        <nav class="navigation">
          <ul class="list-bare text-center">
            {% for page in site.pages %}
              {% unless page.name == '404.md' %}
                {% if page.title %}
                  <li>
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  </li>
                {% endif %}
              {% endunless %}
            {% endfor %}
            <li><a class="subscribe-button icon-feed" href="{{ '/feed.xml' | prepend: site.baseurl }}">Syndication</a></li>
          </ul>
        </nav>
      </div>

      <div class="column small-12 large-12">
        <ul class="social-nav social-icons">
          {% if site.github_username %}
          <li>
            <a href="http://www.github.com/{{ site.github_username }}" target="_blank">
              <span class="icon fab fa-github""></span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
              <span class="icon fab fa-facebook-f""></span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="icon fab fa-twitter""></span>
            </a>
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            <a href="http://www.instagram.com/{{ site.instagram_username }}" target="_blank">
              <span class="icon fab fa-instagram""></span>
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
              <span class="icon fab fa-linkedin""></span>
            </a>
          </li>
          {% endif %}

          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}" target="_blank">
              <span class="icon fas fa-envelope""></span>
            </a>
          </li>
          {% endif %}

          <li>
            <a class="toggle-search-button" href="#">
              <span class="icon fas fa-search""></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="column small-12 large-12">
      </div>

      <div class="sidebar__bottom">
        <div class="column small-12 large-12">
          <div class="font-tiny">
            &copy; {{ site.time | date: '%Y' }} {{ site.title }}
          </div>
        </div>
      </div>

    </div> <!-- off-canvas-content -->

  </div>
</div>

{% include search-form.html %}