//---------------------------
// Colors
//---------------------------

$brand-white: #ffffff;
$brand-primary: #d21f79;

$sidebar-bg: #ebeef4  ;

$color__base:         #44565e;
$color__base--hover:  $brand-primary;

$grey-bg:               #e6e7e8;
$grey-bg-fade:          #ebeef4F0;
$border-color:          #e6e7e8;
$border-color--darker:  #d21f79;

$twitter-brand:   #55acee;
$facebook-brand:  #3b5998;
$google-brand:    #dc4e41;